.bill-container {
  padding: 20px 25px;
  
  p {
    padding: 5px 20px;
  }
}

.sponsor {
  padding: 20px 25px;
} 

.cosponsors {
  padding: 20px 25px;
  
  ul {
    list-style-type: none;
  }
}


.additional-resources {
  padding: 20px 25px;
}

.twitter-feed {
  padding: 20px 25px;
  
  ul {
    
    width: 60%;
    list-style-type: none;
    
    li {
      padding-bottom: 10px;
      border-bottom: 1px solid #808080;
      
      &:last-child {
        border-bottom-style: none;
      }
    }
  }
}