.container(style="padding-top: 20px;")
  h4 {{bill | titleFilter}} 
    span.right.subheader {{bill.bill_id}}
      
  .bill-container
    span {{bill.last_version.version_name}}
    p {{bill | summaryFilter}}
    a(href="{{bill.last_version.urls.pdf}}", target="_blank") View as Pdf
      
  .sponsor
    span Bill Sponsor: 
      a(ui-sref="congressman({id: bill.sponsor.bioguide_id})") {{bill.sponsor | congressmanNameFilter}}
  
  .cosponsors
    span Cosponsors of {{bill.bill_id}}
    ul
      li(ng-repeat="sponsor in cosponsors| limitTo: 4")
        a(ui-sref="congressman({id: sponsor.bioguide_id})") {{sponsor | congressmanNameFilter}}
    a(ng-if="cosponsors.length > 4", href="#") See all cosponsors
            
  .additional-resources
    span Additional resources:
    div(style="padding-left: 10px;", ng-repeat="(resource, url) in bill.urls")
      a(href="{{url}}") {{resource | capitalizeFilter}}
        
  .twitter-feed
    span Tweets related to {{bill.bill_id}}
    div
      ul
        li(ng-repeat="tweet in tweetCollection")
          p( ng-bind="tweet.text")
          h6 {{tweet.user.screen_name}}
      