h4 {
  color: #777777;
  padding: 0 15px;
}

.bill-container {
  padding: 20px 25px;
  
  p {
    padding: 5px 20px;
  }
}

.sponsor {
  padding: 20px 25px;
} 

.cosponsors {
  padding: 20px 25px;
  
  ul {
    list-style-type: none;
  }
}


.additional-resources {
  padding: 20px 25px;
}