.container
  h4 {{bill | titleFilter}}
    sponsor 
    a(ui-sref="congressman({id: bill.sponsor_id})") {{bill.sponsor.first_name}} {{bill.sponsor.last_name}} {{bill.sponsor_id}}
      
  .bill-container
    p {{bill | summaryFilter}}