.container
  .row.text-center
    h1 The project that allows us to keep our Congress accountible.  We the people.
      
  .row.text-center
    span Find
    br
    form(name="form.landingPage")
      .row
        .columns.small-3.small-offset-3.medium-offset-2.medium-4
          .row.collapse
            .small-9.columns
              input(type="text", placeholder="Bills", ng-click="findTopic", ng-model="searchTopic")
            .small-3.columns
              button.button.postfix(type="button", ng-click="findTopic()") Go
        
        .columns.small-3.medium-4.end
          .row.collapse
            .small-9.columns
              input(type="text", placeholder="District", ng-model="zipCode")
            .small-3.columns
              button.button.postfix(type="button", ng-click="findDistrictLanding()") Go
        //.col-md-3.col-sm-4
        ////.columns.small-4.medium-3
        //.input-group
        //  input.form-control(type="text", placeholder="District", ng-model="zipCode")
        //  .input-group-btn
        //    hu-geolocate
        //    button.bt\n.btn-default(type="button", ng-click="findDistrictLanding()")
        //      span Go
            
    br
    span We never store or share your info with third parties, let alone persist it.