form
  .row
    .small-12.large-6.columns
      .row.collapse.postfix-radius
        .small-9.columns
          input(type="text", placeholder="Search For Bills", ng-model="searchTopic")
        .small-3.columns
          button.button.postfix(type="button", ng-click="findTopic()") Find
    .small-12.large-6.columns
      .row.collapse.postfix-radius
        .small-7.columns
          input(type="text", max="5", placeholder="Search For District", maxlength="5" ng-model="zipCode")
        .button-group
          .small-2.columns
            hu-geolocate
          .small-3.columns
            button.button.postfix(type="button", ng-click="findDistrictLanding()") Disrict