.container
  .row.text-center
    h1 The project that allows us to keep our Congress accountible.  We the people.
      
  .row.text-center
    form.mail-list-signup(name="form.landingPage")
      .row
        .col-md-4.col-sm-4.col-md-offset-2.col-sm-offset-2
          .input-group
            input.form-control(type="text", placeholder="Your topic", ng-click="findTopic", ng-model="searchTopic")
            span.input-group-btn
              button.btn.btn-default(type="button", ng-click="findTopic()") Find Bills
            
        .col-md-3.col-sm-4
          .input-group
            input.form-control(type="text", placeholder="zipcode", ng-model="zipCode")
            span.input-group-btn
              button.btn.btn-default(type="button", ng-click="findDistrictLanding()") Find District
            
    span We never store or share your info with third parties, let alone persist it.