nav.navbar.navbar-static-top
  .container-fluid
    
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#nav-menu-items")
        i.fa.fa-bars
      a.navbar-brand(ui-sref="landingPage") The Hear Us Project
        
    #nav-menu-items.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="#") First Link
        li
          a(href="#") Second Link
        li
          a(href="#") Third Link