.container(style="padding-top: 20px;")
  h3 Brandon's Dashboard

.row
  .medium-7.large-8.columns.panel.left
    h4 District 5 Information
    ul.no-bullet
      li
        div
          span Representative Steny Hoyer
      li
        div
          span Congressman Blah Blahher
      li
        div
          span Congressman Blah Blahher 2
  .medium-1.large-1.columns
  .medium-4.large-3.columns.panel.right
    h4 Favorite Bills
    ul.no-bullet
      li(style="border-bottom: 1px solid #808080;")
        div
          a.left CISPA hr234-113
          a(href="#").right
            i.fa.fa-star
      li(style="border-bottom: 1px solid #808080;")
        div
          a.left Gun Control hr1134-113
          a(href="#").right
            i.fa.fa-star
