form(name="hearUsForm.sign-in")
  .row
    .small-12.large-12.columns
      .large-6.large-offset-3.small-12.columns
        .row.collapse.radius
          input.error(type="email", name="userEmail", placeholder="email", ng-model="user.email", ng-model-options="{ updateOn: 'blur' }", required)
          small.error(ng-show="hearUsForm['sign-in'].userEmail.$invalid && !hearUsForm['sign-in'].userEmail.$pristine") Invalid Email
        .row.collapse.radius
          input.error(type="password", name="userPassword", placeholder="Password", ng-model="user.password", ng-model-options="{ updateOn: 'keyup' }", required)
          small.error(ng-show="hearUsForm['sign-in'].userPassword.$invalid && !hearUsForm['sign-in'].userPassword.$pristine") Password Required
        ul.button-group.even-2
          li
            a.button.tertiary.large-offset-2.small-6(ui-sref="auth.sign_up") Sign up
          li 
            button.button.small-6(type="button", ng-click="signIn()", ng-disabled="hearUsForm['sign-in'].$invalid") Sign in