div
  h3 district landing page Test :: 
    p {{district.state}} district number: {{district.districtNumber}}
      
   div Rep
     h4 {{houseRep}}
       
   dic Senate
     h4 {{senators[0].first_name}} {{senate[0].last_name}}
     h4 {{senators[1].first_name}} {{senate[1].last_name}}