div
  h3 district landing page Test :: 
    p {{district.state | stateFilter}} district number: {{district.districtNumber}}
      
   div Rep
     h4 
      a(ui-sref="congressman({id: houseRep.bioguide_id})") {{houseRep | congressmanNameFilter}}
       
   dic Senate
     h4 
      a(ui-sref="congressman({id: senators[0].bioguide_id})") {{senators[0] | congressmanNameFilter}}
     h4
      a(ui-sref="congressman({id: senators[1].bioguide_id})") {{senators[1] | congressmanNameFilter}}
