.container(style="padding-top: 20px;")
  h4.text-center {{district.state | stateFilter}} District {{district.districtNumber}}

  .district-container
    div 
      h5 House Representative
        ul.no-bullet
          li
            a(ng-bind="houseRep | congressmanNameFilter", ui-sref="congressman({id: houseRep.bioguide_id})")
         
    div 
      h5 Senators 
        ul.no-bullet(ng-repeat="senator in senators")
          li
            a(ng-bind="senator | congressmanNameFilter", ui-sref="congressman({id: senator.bioguide_id})")