div
  h3 district landing page Test :: 
    p state: {{district.state}} district number: {{district.districtNumber}}
      
   div Rep
     h4 {{houseRep.first_name}} {{houseRep.last_name}}
       
   dic Senate
     h4 {{senate[0].first_name}} {{senate[0].last_name}}
     h4 {{senate[1].first_name}} {{senate[1].last_name}}