div
  h4.text-center Search results for {{issue}} 
    
  div.search-results
    ul(ng-repeat="bill in bills")
      li.result-item
        div
          h4 
            a(ui-sref="bill({ id: bill.bill_id })") {{bill | titleFilter}}
              span.pull-right {{bill.bill_id}}
          p {{bill.summary_short}}
          p 
            span Sponsored By  
              a(ui-sref="congressman({id: bill.sponsor.bioguide_id})") {{bill.sponsor | congressmanFilter}} 
            span.pull-right Introduced on {{bill.introduced_on}}
          