div(ui-view="childView")
div.panel.callout.radius
  h1 test page
    h3 This page is currently testing user sing up / log in flow, this page is also restricted and can be navigated to by clicking 'Second' link the header bar