
h4 {{congressman.chamber | chamberFilter}} {{congressman | congressmanNameFilter}} {{congressman.party}}
  h5(style="padding-left: 25px;", ng-if="congressman.chamber === 'house'") {{congressman.state | stateFilter}} District {{congressman.district}}
  h5(style="padding-left: 25px;", ng-if="congressman.chamber === 'sentate'") {{congressman.state | stateFilter}} Rank {{congressman.rank}}
    br
    a(href="{{congressman.website}}", target="_blank") {{congressman | congressmanNameFilter}}'s Official Website
      
.contact-info(style="padding: 20px 25px;")
  img(src="http://theunitedstates.io/images/congress/225x275/{{congressman.bioguide_id}}.jpg", style="padding-botom: 10px;")
  
  p Washington, DC Office 
    br
    {{congressman.office}}
    br 
    span DC Washington, 20515 
    br
    span Phone: 
      a(href="{{congressman.phone}}", target="_bank", rel="nofollow") {{congressman.phone}}
    br
    span Fax: 
      a(href="{{congressman.fax}}", target="_blank", rel="nofollow") {{congressman.fax}}
    br
    a(href="mailto:{{congressman.oc_email}}", rel="nofollow") Email
      
.sponsored-bills.search-results
  h4 Bills Sponsored by {{congressman | congressmanNameFilter}}
  ul(ng-repeat="bill in bills | limitTo: 4")
    li.result-item
      div
        h5
          a(ui-sref="bill({id: bill.bill_id})") {{bill | titleFilter}}
            span.pull-right {{bill.bill_id}}
        p 
          span {{bill | shortSummaryFilter}}
          span.pull-right Introduced on {{bill.introduced_on}}